.App {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

.side-nav {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #FAFBFD;
  height: 100vh;
  font-weight: bold;  
  overflow-y: none;
  position: fixed;
}

.Dev-title {
  color: orange;
  margin-left: 1.5rem;
}

.side-opt {
  padding: 5rem 0 0 2rem;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side-links {
  color: #9E9E9E;
  text-decoration: none;
}

.side-links:focus {
  color: #090F31
}

.containers{
  background: #FAFBFD;
  margin-left: 2rem;
  max-width: 80%;
  text-align: center;
}

.buttons-container {
  height: 90vh;
  display: grid;
  grid-template-rows: repeat(3,33%);
  text-align: center;
}

.button-title {  
  font-weight: 500;
  font-size: 24px;
  color:#4F4F4F;
}

.button-options {
  display:grid;

  text-align: center;

}

.button-colors {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.button-box > p {
  font-family: Ubuntu Mono;
  font-weight: bold;
  color: #333333;
  font-size: 1.3rem;
}

.button-box > button {
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.button-box > button:hover {
  filter: brightness(.8);
}

@media   (max-width: 800px) {
  .side-nav {
    display: none;
  }
  .containers{
    background: #FAFBFD;
    margin-left: -2rem;
  ;
  }
}